parameters:
	level: 8

	paths:
		- src

	checkMissingCallableSignature: true

	ignoreErrors:
		-   # Runtime type validation that all $shape items are Schema instances
			identifier: expr.resultUnused
			path: src/Schema/Elements/Structure.php
